<ul class="nav nav-tabs channelGroups">
    <li class="active" id="HotChannelsTab"><a href="javascript:void(0)" onclick="tabClick(1)">Hot</a></li>
    <li id="VTV_VTCChannelsTab"><a href="javascript:void(0)" onclick="tabClick(2)">VTV - VTC</a></li>
    <li id="SCTV_HTVChannelsTab"><a href="javascript:void(0)" onclick="tabClick(3)">SCTV - HTV</a></li>
    <li id="LocalChannelsTab"><a href="javascript:void(0)" onclick="tabClick(4)">Địa Phương</a></li>
    <li id="ForeignChannelsTab"><a href="javascript:void(0)" onclick="tabClick(5)">Nước Ngoài</a></li>
    <li id="FootballChannelsTab"><a href="javascript:void(0)" onclick="tabClick(6)">Bóng Đá</a></li>
    <li id="OthersChannelsTab"><a href="javascript:void(0)" onclick="tabClick(7)">Khác</a></li>
</ul>
<div class="list_channels">
    <div id="HotChannels">
        <ul>
            @foreach (TiviOnline.Models.Channel channel in ViewBag.HotChannels)
            {
                <li class="list_movie_image">
                    <a href="@Url.RouteUrl("WatchTivi", new { channel = channel.ID })">
                        <img src="@Url.Content(channel.Logo)" class="channel_img" />
                    </a>
                </li>
            }
        </ul>
    </div>
    <div id="VTV_VTCChannels" style="display:none">
        <ul>
            @foreach (TiviOnline.Models.Channel channel in ViewBag.VTV_VTCChannels)
            {
                <li class="list_movie_image">
                    <a href="@Url.RouteUrl("WatchTivi", new { channel = channel.ID })">
                        <img src="@Url.Content(channel.Logo)" class="channel_img" align="middle" />
                    </a>
                </li>
            }
        </ul>
    </div>

    <div id="SCTV_HTVChannels" style="display:none">
        <ul>
            @foreach (TiviOnline.Models.Channel channel in ViewBag.SCTV_HTVChannels)
            {
                <li class="list_movie_image">
                    <a href="@Url.RouteUrl("WatchTivi", new { channel = channel.ID })">
                        <img src="@Url.Content(channel.Logo)" class="channel_img" />
                    </a>
                </li>
            }
        </ul>
    </div>

    <div id="LocalChannels" style="display:none">
        <ul>
            @foreach (TiviOnline.Models.Channel channel in ViewBag.LocalChannels)
            {
                <li class="list_movie_image">
                    <a href="@Url.RouteUrl("WatchTivi", new { channel = channel.ID })">
                        <img src="@Url.Content(channel.Logo)" class="channel_img" />
                    </a>
                </li>
            }
        </ul>
    </div>

    <div id="ForeignChannels" style="display:none">
        <ul>
            @foreach (TiviOnline.Models.Channel channel in ViewBag.ForeignChannels)
            {
                <li class="list_movie_image">
                    <a href="@Url.RouteUrl("WatchTivi", new { channel = channel.ID })">
                        <img src="@Url.Content(channel.Logo)" class="channel_img" />
                    </a>
                </li>
            }
        </ul>
    </div>

    <div id="FootballChannels" style="display:none">
        <ul>
            @foreach (TiviOnline.Models.Channel channel in ViewBag.FootballChannels)
            {
                <li class="list_movie_image">
                    <a href="@Url.RouteUrl("WatchTivi", new { channel = channel.ID })">
                        <img src="@Url.Content(channel.Logo)" class="channel_img" />
                    </a>
                </li>
            }
        </ul>
    </div>

    <div id="OthersChannels" style="display:none">
        <ul>
            @foreach (TiviOnline.Models.Channel channel in ViewBag.OthersChannels)
            {
                <li class="list_movie_image">
                    <a href="@Url.RouteUrl("WatchTivi", new { channel = channel.ID })">
                        <img src="@Url.Content(channel.Logo)" class="channel_img" />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<script>
    function tabClick(index) {
        $(".channelGroups li").each(function (index) { $(this).removeClass("active") });
        $("#HotChannels").hide();
        $("#VTV_VTCChannels").hide();
        $("#SCTV_HTVChannels").hide();
        $("#LocalChannels").hide();
        $("#ForeignChannels").hide();
        $("#FootballChannels").hide();
        $("#OthersChannels").hide();
        switch (index) {
            case 1:
                $("#HotChannels").show();
                $("#HotChannelsTab").addClass("active");
                break;
            case 2:
                $("#VTV_VTCChannels").show();
                $("#VTV_VTCChannelsTab").addClass("active");
                break;
            case 3:
                $("#SCTV_HTVChannels").show();
                $("#SCTV_HTVChannelsTab").addClass("active");
                break;
            case 4:
                $("#LocalChannels").show();
                $("#LocalChannelsTab").addClass("active");
                break;
            case 5:
                $("#ForeignChannels").show();
                $("#ForeignChannelsTab").addClass("active");
                break;
            case 6:
                $("#FootballChannels").show();
                $("#FootballChannelsTab").addClass("active");
                break;
            case 7:
                $("#OthersChannels").show();
                $("#OthersChannelsTab").addClass("active");
                break;
            default:
                $("#HotChannels").show();
                $("#HotChannelsTab").addClass("active");
                break;
        }
        $.cookie('active_channel_tab', index);
    }

    $( document ).ready(function() {
        var index = $.cookie('active_channel_tab');
        if (index === undefined) index = 1;
        else {
            index = parseInt(index);
        }
        tabClick(index)
    });
    
</script>